body {
  margin: 0;
  font-family: "Josefin Sans", Arial, sans-serif;
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 30%, transparent),
    url(https://picsum.photos/1920/1080/?image=114);
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
